annotated-types==0.7.0
astroid==3.3.11
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.2.1
dill==0.4.0
idna==3.10
isort==6.0.1
Levenshtein==0.27.1
lxml==6.0.0
mccabe==0.7.0
numpy==2.3.2
pandas==2.3.1
platformdirs==4.3.8
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pylint==3.3.7
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-Levenshtein==0.27.1
pytz==2025.2
RapidFuzz==3.13.0
requests==2.32.4
ruff==0.12.7
six==1.17.0
thefuzz==0.22.1
tomlkit==0.13.3
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
